<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.pouillcorp.sortirnice">

    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:name=".App"
        android:allowBackup="true"
        android:icon="@mipmap/logo_app"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/logo_app"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".activities.AccueilActivity"
            android:windowSoftInputMode="stateHidden">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activities.SearchActivity"
            android:windowSoftInputMode="stateHidden"/>
        <activity android:name=".activities.AfficherEventsActivity"
            android:windowSoftInputMode="stateHidden"/>
        <activity android:name=".activities.AfficherEventDetailActivity"
            android:windowSoftInputMode="stateHidden"/>
        <activity android:name=".activities.AfficherEntriesSortieActivity"
            android:windowSoftInputMode="stateHidden"/>
        <activity android:name=".activities.AfficherEntriesUtileActivity"
            android:windowSoftInputMode="stateHidden"/>
        <activity android:name=".activities.AfficherEntriesShoppingActivity"
            android:windowSoftInputMode="stateHidden"/>
        <activity android:name=".activities.AfficherEntriesVisiteActivity"
            android:windowSoftInputMode="stateHidden"/>
        <activity android:name=".activities.AfficherEntriesHotelActivity"
            android:windowSoftInputMode="stateHidden"/>
        <activity android:name=".activities.AfficherEntriesHebergementActivity"
            android:windowSoftInputMode="stateHidden"/>
        <activity android:name=".activities.AfficherEntriesBoutiqueActivity"
            android:windowSoftInputMode="stateHidden"/>
        <activity android:name=".activities.AfficherEntriesTransportActivity"
            android:windowSoftInputMode="stateHidden"/>
        <activity android:name=".activities.AfficherEntriesRestaurantActivity"
            android:windowSoftInputMode="stateHidden"/>
        <activity android:name=".activities.AfficherChoixEnregistrementActivity"
            android:windowSoftInputMode="stateHidden"/>

        <activity android:name=".activities.AfficherEntrySortieDetailActivity"
            android:windowSoftInputMode="stateHidden"/>
        <activity android:name=".activities.AfficherEntryTransportDetailActivity"
            android:windowSoftInputMode="stateHidden"/>
        <activity android:name=".activities.AfficherEntryUtileDetailActivity"
            android:windowSoftInputMode="stateHidden"/>
        <activity android:name=".activities.AfficherEntryVisiteDetailActivity"
            android:windowSoftInputMode="stateHidden"/>
        <activity android:name=".activities.AfficherEntryShoppingDetailActivity"
            android:windowSoftInputMode="stateHidden"/>
        <activity android:name=".activities.AfficherEntryRestaurantDetailActivity"
            android:windowSoftInputMode="stateHidden"/>
        <activity android:name=".activities.AfficherEntryHotelDetailActivity"
            android:windowSoftInputMode="stateHidden"/>
        <activity android:name=".activities.AfficherEntryHebergementDetailActivity"
            android:windowSoftInputMode="stateHidden"/>
        <activity android:name=".activities.AfficherEntryBoutiqueDetailActivity"
            android:windowSoftInputMode="stateHidden"/>

        <activity android:name=".activities.RechercherAllEntriesActivity"
            android:windowSoftInputMode="stateHidden"/>
    </application>

</manifest>